:host {
    display: block;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    margin-bottom: 1rem;
  }
  
  p {
    margin-bottom: 0.5rem;
  }
  
  .header {
    display: flex;
    justify-content: space-between;

    .button {
      padding: .5rem;
      
    }
  }

  .head-text {
    a{
      cursor: pointer;
      font-size: large;
    }

    .underline {
      text-decoration: underline;
      color: #000000;
    }

    .none {
      text-decoration: none;
      color: #000000
    }
  }