
<div *ngIf="project" class="container mb-3">
  <div class="d-flex gap-2 head-text">
    <a (click)="page = 1" [ngClass]="{'underline' : page == 1, 'none' : page !== 1}" >OVerview</a>
    <a (click)="page = 2" [ngClass]="{'underline' : page == 2, 'none' : page !== 2}" >Details</a>
  </div>
  
  <div *ngIf="page == 1" class="page1">
    <div class="header mb-3 d-flex justify-content-between align-items-center">
    <h2>Project Overview</h2>
    <button type="button" class="btn btn-danger" (click)="onBackToProjects()">Back</button>
  </div>
  
  <div class="row g-3">
    <ng-container *ngFor="let detail of projectDetails">
      <div class="col-6">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{ detail.label }}</h5>
            <p class="card-text">{{ detail.value }}</p>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  </div>

  <div *ngIf="page == 2" class="page1">
    <div class="header mb-3 d-flex justify-content-between align-items-center">
    <h2>Project Detail</h2>
    <button type="button" class="btn btn-danger" (click)="onBackToProjects()">Back</button>
  </div>
  
  <div class="row g-3">
    <ng-container *ngFor="let detail of projectDetails">
      <div class="col-6">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{ detail.label }}</h5>
            <p class="card-text">{{ detail.value }}</p>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  </div>
  
</div>


