<div *ngIf="project" class="container">
  <div class="header mb-3 d-flex justify-content-between align-items-center">
    <h2>Project Detail</h2>
    <button type="button" class="btn btn-danger" (click)="onBackToProjects()">Back</button>
  </div>
  
  <div class="row g-3">
    <ng-container *ngFor="let detail of projectDetails">
      <div class="col-6">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{ detail.label }}</h5>
            <p class="card-text">{{ detail.value }}</p>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
