:host {
    display: block;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
  }

  .content-header {
    display: flex;
    justify-content: space-between;
  }
  
  h1 {
    margin-bottom: 1rem;
  }
  
  p {
    margin-bottom: 0.5rem;
  }
  
  .header {
    display: flex;
    justify-content: space-between;

    .button {
      padding: .5rem;
      
    }
  }

  .head-text {
    position: relative;
    display: inline-block;
  
    a {
      cursor: pointer;
      font-size: large;
      position: relative;
      color: #000000;
      text-decoration: none;
      padding-bottom: 5px;
      transition: color 0.3s ease;
  
      &.underline::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 100%;
        background-color: #000000;
        transform-origin: left;
        transition: transform 0.3s ease;
        transform: scaleX(1);
      }
      
      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 100%;
        background-color: #000000;
        transform-origin: left;
        transition: transform 0.3s ease;
        transform: scaleX(0);
      }
  
      &.underline::after {
        transform: scaleX(1);
      }
    }
  }

  .page1, .page2 {
    transition: transform 0.8s ease;
    .card {
      transition: transform 0.2s ease;
    }
  
    .card:hover {
      transform: scale(1.02);
    }

  }
  

  .space {
    justify-content: space-between;
  }
