// :host {
//     svg {
//       height: 100%;
//       width: 100%;
//     }
  
   
//       // mask-size: contain;
//       // mask-position: center;
//       // mask-repeat: no-repeat;
  
//       /* Vendor prefixes for compatibility */
//       -webkit-mask-size: contain;
//       -webkit-mask-position: center;
//       -webkit-mask-repeat: no-repeat;
    
//   }

:host {
    display: inline-block;
    width: 100%;  // Ensure this or another value is set correctly
    height: 100%;
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
  }
  
  