.form-group {
    margin-bottom: 1rem;
  }
  
.m150{
  
  div{
    display: flex;
    flex-direction: column;
    align-content: end;
  }
}


  .form-control {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
  }
  
  .chart-container {
    width: 100%;
    height: 600px;
    transition: all 0.3s ease-in-out;
  }
  
  /* Responsive adjustments */
  @media (max-width: 1200px) {
    .chart-container {
      height: 500px;
    }
  }
  
  @media (max-width: 992px) {
    .chart-container {
      height: 400px;
    }
  }
  
  @media (max-width: 768px) {
    .chart-container {
      height: 300px;
    }
  }
  
  @media (max-width: 576px) {
    .chart-container {
      height: 200px;
    }
  }
  
  