

<mat-dialog-content class="bg">
  <div class="d-flex justify-content-between">
    <h2 mat-dialog-title>Month: {{ data.month }}</h2>
    <button type="button" class="close btn btn-danger btn-lg" aria-label="Close" mat-dialog-close><span aria-hidden="true">&times;</span></button>
  </div>
  
  <ul class="list p-3">
    <li class="list-item mb-3" *ngFor="let project of data.projects">
      <div class="project-name">{{ project.ProjectName }}</div>
      <div class="project-cost">{{ project.ProjectCost| number }} THB</div>
    </li>
  </ul>
</mat-dialog-content>

