.list {
    padding: 0;
    list-style: none;
    margin: 0;
  }
  
  .list-item {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .project-name {
    font-size: larger;
  }
  
  .project-cost {
    color: #af4c4c;
    font-size: large;
  }