.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%; /* Make sure it takes full width */
}

  .card {
    flex: 0 0 calc(100% / 3);
    min-width: calc(100% / 3);
    transition: transform 0.5s ease;
    box-shadow: .5rem solid #f0f0f0;

    &:hover {
      transform: scale(1.01);
      cursor: default;
    }
  }
  .d-flex {
    transition: transform 0.5s ease;
  }
  
  .custom-btn {
    border-radius: 100%;
    align-self: center;
    text-align: center;
    border: none;
    color: white;
    background-color: primary;
    width: 3rem;
    height: 3rem;
  }

  .custom-btn:hover {
    scale: 1.05;
  }

  .of {
    overflow-x: hidden;
  }
  
  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  