.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%; /* Make sure it takes full width */
}

  .card {
    flex: 0 0 calc(100% / 3);
    min-width: calc(100% / 3);
    transition: transform 0.5s ease;
    box-shadow: .5rem solid #f0f0f0;
  }
  .d-flex {
    transition: transform 0.5s ease;
  }
  
  .of {
    overflow-x: hidden;
  }
  
  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  