<ngx-datatable
  class="material"
  [rows]="rows"
  [columns]="columns"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [columnMode]="'standard'"
>
  <ngx-datatable-column
    *ngFor="let col of columns"
    [name]="col.title"
    [prop]="col.prop"
    [sortable]="col.sortable"
    [width]="col.width"
  >
    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
      <ng-container [ngSwitch]="dataTable">
        <ng-container *ngSwitchCase="'projects'">
          <ng-container *ngIf="col.prop === 'detail'">
            <button (click)="onDetailClick(row)">Details</button>
          </ng-container>
          <ng-container *ngIf="col.prop === 'createdDate'">
            {{ value | date:'shortDate' }}
          </ng-container>
          <ng-container *ngIf="col.prop !== 'detail' && col.prop !== 'createdDate'">
            {{ value }}
          </ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'modules'">
          <ng-container *ngIf="col.prop === 'addDate'">
            {{ value | date:'shortDate' }}
          </ng-container>
          <ng-container *ngIf="col.prop === 'dueDate'">
            {{ value | date:'shortDate' }}
          </ng-container>
          <ng-container *ngIf="col.prop !== 'addDate' && col.prop !== 'dueDate'">
            {{ value }}
          </ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'employees'">
          <ng-container *ngIf="col.prop !== 'emCost'">
            {{ value }}
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-footer>
    <!-- Footer content, if any -->
  </ngx-datatable-footer>
</ngx-datatable>
