<ngx-datatable
  table-responsive
  *ngIf="rows && rows.length"
  class="material"
  [rows]="rows"
  [columns]="columns"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [columnMode]="'force'"
  [draggable]="'false'"
>
  <ngx-datatable-column
    *ngFor="let col of columns"
    [name]="col.title"
    [prop]="col.prop"
    [sortable]="col.sortable"
    [width]="col.width"
  >
    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
      <ng-container [ngSwitch]="dataTable">
        <ng-container *ngSwitchCase="'projects'">
          <ng-container  *ngIf="col.prop === 'detail'">
            <button type="button" class="btn btn-outline-primary btn-sm" (click)="onDetailClick(row)">Details</button>
          </ng-container>
          <ng-container *ngIf="col.prop === 'ProjectStart'">
            {{ value | date:'shortDate' }}
          </ng-container>
          <ng-container *ngIf="col.prop === 'ProjectEnd'">
            {{ value | date:'shortDate' }}
          </ng-container>
          <ng-container *ngIf="col.prop === 'ProjectCost'">
            {{ value | number }} THB
          </ng-container>
          <ng-container *ngIf="col.prop === 'ProjectStatus'">
            {{ status(value) }}
          </ng-container>          
          <ng-container *ngIf="col.prop !== 'detail' && col.prop !== 'ProjectStart' && col.prop !== 'ProjectEnd' && col.prop !== 'ProjectCost' && col.prop !== 'ProjectStatus'">
            {{ value }}
          </ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'modules'">
          <ng-container *ngIf="col.prop === 'ModuleAddDate'">
            {{ value | date:'shortDate' }}
          </ng-container>
          <ng-container *ngIf="col.prop === 'ModuleDueDate'">
            {{ value | date:'shortDate' }}
          </ng-container>
          <ng-container *ngIf="col.prop === 'mandays'">
            {{ value }} days
          </ng-container>
          <ng-container *ngIf="col.prop === 'mCost'">
            {{ value | number }} THB
          </ng-container>
          <ng-container *ngIf="col.prop !== 'ModuleAddDate' && col.prop !== 'ModuleDueDate' && col.prop !== 'mandays' && col.prop !== 'mCost'">
            {{ value }}
          </ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'employees'">
          <ng-container *ngIf="col.prop !== 'EmployeeCost'">
            {{ value }}
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-footer>
  </ngx-datatable-footer>
</ngx-datatable>

<div *ngIf="!rows && !columns">
  <h5 class="text-center text-bold">NO DATA</h5>
</div>
