<div class="home-container">
    <nav class="sidebar-left" [ngClass]="{'mini': isSidebarMini}" (click)="toggleSidebar($event)">
        <div class="sidebar-left-header m-0 p-0">
            <p *ngIf="!isSidebarMini" class="text-name hl-text">Cost <br/> Management</p>
            <div>
                <a (click)="toggleSidebar($event)">
                    <!-- <icon-svg [path]="isSidebarMini ? 'expand' : 'collapse'" [size]="'lg'" /> -->
                </a>
            </div>
        </div>
        <hr class="hr" *ngIf="!isSidebarMini">
        <div class="sidebar-left-main">
            <ul  (click)="preventClose($event)">
                <li>
                    <a id="item" routerLink="/dashboard" routerLinkActive="active-tab" class="nav-link text-name">Dashboard</a>
                </li>
                <li>
                    <a id="item" routerLink="/user" routerLinkActive="active-tab" class="nav-link text-name">User</a>
                </li>
                <li>
                    <a id="item" routerLink="/projects" routerLinkActive="active-tab" class="nav-link text-name">Projects</a>
                </li>
            </ul>   
        </div>
    </nav>
    <div class="container-content">
        <div class="header">
            <p class="text-name">{{ this.page }}</p>
            <div class="header-right">
                <input type="text" class="search-bar" placeholder="Search...">
                <div class="profile-dropdown">
                    <button class="profile-btn">
                        <icon-svg [path]="'User'" [size]="'6x'" [color]="'white'"></icon-svg>
                        <!-- <span class="profile-name">Username</span> -->
                    </button>
                    <div class="dropdown-content">
                        <a href="#">Profile</a>
                        <!-- <a (click)="onSetting()">Settings</a> -->
                         <a [routerLink]="['/about/setting']">Setting</a>
                        <a href="#">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <section class="content">
            <router-outlet></router-outlet>
        </section>     
    </div>
</div>
